<div class="user">
  <input [(ngModel)] = "user" type= "text">
</div>
<button (click) = "changeuser()">
  show user todos
</button>
<div>
{{user}}
</div>
<div>
  <ul>
    <todo *ngFor = "let todo of todos" [data] = "todo"
    (myButtonClicked)="showText($event)">
    </todo>
  </ul>


<p>
  {{text1}}
</p>

</div>

