<form class="example-form">
  <mat-form-field class="example-full-width">
    <input  [(ngModel)]="email" name="email"  matInput placeholder="Email">
    <mat-hint>Your Email</mat-hint>
  </mat-form-field>
  <br>
  <p class="error" *ngIf = "error.code == 'auth/invalid-email'">{{error.message}}</p>
  <mat-form-field class="example-full-width">
      <input  [(ngModel)]="password" name="password"  matInput placeholder="Password">
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>
<br>
    <p class="error" *ngIf = "error.code == 'auth/weak-password'">{{error.message}}</p>
    <button (click) = "login()">
      LogIn
    </button>

    
</form>