<div>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="text" name="text" matInput placeholder="add Todos">
  </mat-form-field>
  <button (click) = "addTodo()">ADD</button>
</div>


<div>
  <ul>
    <todo *ngFor = "let todo of todos" [data] = "todo"
    (myButtonClicked)="showText($event)">
    </todo>
  </ul>


<p>
  {{text1}}
</p>


<button (click) = "addTodo()">ADD</button>

</div>
