<li (mouseenter)="showButton()"
    (mouseleave)="hideButton()">
 <span *ngIf="!showEditField" (click) = "showEdit()">{{text}}</span> 

 <mat-form-field *ngIf="showEditField">
  <input [(ngModel)]="text" matInput>
</mat-form-field>

<button *ngIf="showEditField" (click) = "cancel()">Cancel</button>
<button *ngIf="showEditField" (click) = "save()">Save</button>
<button (click) = "delete()" *ngIf = "showButton">Delete</button>


</li>